<nav class="navbar navbar-dark">
  <a class="navbar-brand" href="/">
    <img id="movie_logo"
      src="/img/168_clapboard_clapper_cinema_movie_film_production_clap_video_action_play_cinematography_studio_industry_hollywood_premiere_flat_design_icon-512.png"
      STYLE="width: 30px; margin-right: 15px" />movie night &nbsp;
  </a>
</nav>
