<h1>movie night</h1>
<p class="lead text-muted"> &mdash; укутайся в одеялко и найди фильм, который скрасит холодный <span
    class="osen">осенний вечер &#127809;.</span></p>


<form name="form_search" action="#" method="post">
  <div class="form-row d-flex flex-row align-items-center justify-content-center">
    <div class="form-group col-md-6">
      <input id="search_input" type="search" name="inp" class="form-control" placeholder="название фильма" autofocus>
    </div>
  </div>
  <button type="submit" name="butt" class="btn"> &nbsp;&nbsp;поиск&nbsp;&nbsp;</button>

</form>


<div id="movies-searchable">

</div>
