<h1>Welcome to Movie Scanner</h1>

<form name="form_search" action="#" method="post">
  <div class="form-row d-flex flex-row align-items-center justify-content-center">
    <div class="form-group col-md-6">
      <input type="search" name="inp" class="form-control" placeholder="write the name of movie">
    </div>
  </div>
  <button type="submit" name="butt" class="btn btn-primary">Search a movie</button>

</form>


<div id="movies-searchable">

</div>
